<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Jobs in the Desert</title>
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css">
</head>
<body>
  {{partial "header" .}}
  {{partial "nav" .}}

  <section id="posts">
    {{ range .Pages.ByTitle }}
    <article class="post">
      <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
	  <div class="content">{{.Content}}</div>
	</article> <hr>
    {{end}}
  </section>

  {{partial "footer" .}}
</body>
</html>
