header {
  width: 100%;
  background-color: #7cb342;
  color: #fff;
  text-align: center;
  
  h1 {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0 10px 0;
  }

  hr {
    width: 50%;
  margin: 0 auto;
  }

  #tagline {
    padding: 10px 5px 50px 5px;
  }
}